/* Write your CSS here */
.listOf {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-balance {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #ecfccb;
  width: 300px;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #84cc16;
}
.item-income {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #cffafe;
  width: 300px;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #06b6d4;
}
.item-expenses {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #ede9fe;
  width: 300px;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #7c3aed;
}
.list-logo {
  height: 60px;
  margin-right: 20px;
}
@media screen and (max-width: 552px) {
  .item-balance,
  .item-income,
  .item-expenses {
    width: 100%;
    margin-top: 20px;
  }
}
